
p {
    font-size: 1rem;
    line-height: 24px;
  }
  section {
    position: relative;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h5 {
    font-weight: bold;
    color: #33475c;
    margin: 0px;
  }
  a, button {
    outline: none;
    border: 0;
    cursor: pointer;
  }
  a:hover, button:hover {
    text-decoration: none;
  }
  a:focus, a:active, button:focus, button:active {
    outline: 0;
    border: 0;
  }
  
  a {
    color: #0099ff;
  }
  a:hover {
    color: #0099ff !important;
    text-decoration: none;
  }
  button, input, select, textarea {
      font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    src: url("/static/fonts/hk-grotesk/HKGrotesk-Light.woff2") format("woff2"), url("../fonts/hk-grotesk/HKGrotesk-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'HK Grotesk';
    src: url("/static/fonts/hk-grotesk/HKGrotesk-Bold.woff2") format("woff2"), url("../fonts/hk-grotesk/HKGrotesk-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  /*
   GLOBAL SHARED STYLES
  */
  body {
      margin: 0 auto;
      padding: 0px;
      background: #f5f5f5;
      background: #f5f7fa;
      background-color: #f5f7fa !important;
      color: rgba(99, 114, 130, 0.9) !important;
      font-family: "HK Grotesk", Helvetica, arial, sans-serif !important;
      font-weight: 500;
  }
  img{
      display: block;
      width: 100%;
  }
  h1{
      font-size: 38px;
  }
  h2{
      font-size: 24px;
  }
  h3{
      font-size: 20px;
  }
  h4{
      font-size: 17px;
  }
  h1,h2,h3,h4{
      font-weight: bold;
      margin: 0px;
  }
  p{
      margin: 0px;
  }
  ul{
      padding: 0;
      margin: 0px;
  }
  input, select{
      /*border-radius: 0px !important;*/
  }
  button:focus, input:focus{
      outline: none;
      box-shadow: none;
  }
  textarea {
      resize: none !important;
  }
  ._box_shadow {
      background: #fff;
      -webkit-box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
      box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
  }
  ._flex_space{
      flex: 1 1;
  }
  ._bg {
      background: #0099ff;
  }
  ._btn:hover{
      background: #0551b7;
  }
  ._btn {
      border: none;
      font-size: 14px;
      background: #0266ed;
      color: #fff;
      border-radius: 3px;
      transition: .3s all ease;
      padding: 3px 11px;
      cursor: pointer;
      background: #0099ff;
  }
  ._btn:focus{
      outline: none;
      border: none;
      box-shadow: none;
  }
  ._con {
      padding: 0 80px;
  }
  ._dis_flex{
      display: flex;
  }
  ._text_overflow{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  ._overflow{
      overflow: auto;
  }
  ._text_right{
      text-align: right;
  }
  ._text {
      font-size: 16px;
  }
  ._title{
      font-size: 4rem; 
  }
  ._title2 {
      font-size: 2rem;
      font-weight: 300;
  }
  ._title0 {
      color: #222;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  ._title3 {
      font-weight: 300;
      color: rgba(255,255,255,.7);
      font-family: unset;
  }
  ._text_center{
      text-align: center;
  }
  ._border_color{
      border-color:#f3f3f3 !important;
  }
  ._color {
      color: #0266ed;
  }
  ._border_radious{
      border-radius: 3px;
  }
  ._padd10 {
      padding-left: 10px;
      padding-right: 10px;
  }
  ._padd15 {
      padding-left: 15px;
      padding-right: 15px;
  }
  ._padd20 {
      padding-left: 20px;
      padding-right: 20px;
  }
  ._padd0{
      padding: 0px;
  }
  ._padd_b20{
      padding-bottom: 20px;
  }
  ._padd_b25{
      padding-bottom: 25px;
  }
  ._p20{
      padding: 18px 20px 25px;
  }
  ._mar_b30{
      margin-bottom: 30px;
  }
  ._mar_b10{
      margin-bottom: 10px;
  }
  ._mar_top{
      margin-top: 35px;
      margin-top: 22px;
  }
  ._row_mar10{
      margin-right: -10px;
      margin-left: -10px;
  }
  /*========= 4.HOME =======*/
  .content {
      padding-top: 80px;
      padding-bottom: 100px;
      padding-left: 20px;
      padding-right: 20px;
  }
  .home_header:before{
      position: absolute;
      content: '';
  }
  /*TABLE*/
  ._table {
      border-collapse: collapse;
      width: 100%;
  }
  ._table tr:first-child {
      background: #a7ccff;
      background: #0099ff;
  }
  ._table tr:first-child:hover{
      background: #0099ff;
  }
  ._table tr:hover, ._table tr:nth-child(even):hover {
      background: #ecf9ff;
  }
  ._table tr:nth-child(even) {
      background: #ececec8c;
  }
  ._table tr th {
      border: 1px solid transparent;
      text-align: left;
      padding: 8px 13px;
      color: #fff;
      font-size: 15px;
  }
  ._table tr td {
      border: 1px solid #f3f3f3;
      text-align: left;
      padding: 8px 13px;
      min-width: 103px;
      font-size: 15px;
  }
  /*TABLE*/
  /*========= 7.AUDIT =======*/
  
  /*========= 13.ADMIN OVERVEIW =======*/
  ._1adminOverveiw_card {
      display: flex;
      padding: 20px 14px;
      color: #0099ff !important;
  }
  ._table_pro {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #383737;
  }

  .form-group {
    margin-bottom: 25px;
  }
  
  .form-control {
    border-radius: 3px;
    padding: .8rem 1rem;
    border: 1px solid rgba(51, 71, 92, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-control:focus, .form-control:active {
    border-color: rgba(47, 91, 231, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .form-control.rounded {
    border-radius: 50px !important;
  }
  .btn-primary {
      background: #0099ff;
      border-color: #0099ff;
      color: #fff;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      border-color: #1a4ae2;
      background: #1a4ae2;
  }
  .btn-primary:hover {
      color: #fff !important;
  }
  .screen-v-100{
      height: 441px;
  }
  .u-icon--circle {
    border-radius: 50%;
  }
  
  .u-icon--rounded {
    border-radius: 20px;
  }
  
  .u-icon--text {
    padding: .4rem 1rem;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .u-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 48px;
    height: 48px;
  }
  .u-icon i, .u-icon .icon {
    font-size: 1.2rem;
    display: inline-block;
  }
  .u-icon--primary {
    color: #0099ff;
    background: rgba(47, 91, 231, 0.1);
  }
  .u-icon--secondary {
    color: #6eecec;
    background: rgba(110, 236, 236, 0.2);
  }
  .u-icon--danger {
    color: #de4437;
    background: rgba(222, 68, 55, 0.1);
  }
  .u-icon--success {
    color: #00818a;
    background: rgba(0, 129, 138, 0.1);
  }
  .u-icon--light {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
  .u-icon--green {
    color: #25c16f;
    background: rgba(37, 193, 111, 0.1);
  }
  .u-icon--xl {
    width: 60px;
    height: 60px;
    line-height: 1;
  }
  ._input_title{
      font-weight: 600;
      font-size: 15px;
  }
  ._font_15{
      font-size: 15px;
  }
  .new_main {
      margin-bottom: 50px;
  }
  .terms{
      margin-top: 30px;
  }
  .terms .h2 {
      margin: 0 0 13px;
  }
  .terms_text{
      margin-bottom: 10px;
  }
  .terms_ul {
      padding: 0px 0px 0px 20px;
      margin: 3px 0 11px;
  }
  .terms_ul li {
      font-size: 16px;
      padding: 0 0 13px;
  }
  button.submit, button.cancel{
      padding: 10px 50px;
      border-radius: 4px;
      border: 1px solid #0099ff;
      font-weight: 500;
      cursor: pointer;
      font-size: 13px;
  }
  button.cancel {
      background-color: #FAFAFA;
      color: #000;
      border-color: #C7C7C7;
  }
  
  .view_btn1{
   background-color:#34495E;
  }
  .edit_btn1 {
      background-color: #3498DB;
  }
  .make_btn1{
       background-color:#ff5733;;
  }
  .make_btn2{
       background-color:#28B463;;
  }
  .make_btn3{
       background-color:#2471A3;;
  }
  
  .catagory_main_bottom {
      padding: 29px 0 0;
      text-align: left;
  }
  .catagory_main_title {
      font-weight: bold;
      color: #000;
      margin: 0 0 4px;
  }
  .catagory_main_inputs {
      width: 319px;
  }
  .catagory_main_bottom {
      padding: 29px 0 0;
      text-align: left;
  }
  
  /* ===========Post page start========= */
  .post_right{}
  .post_category_title {
      margin-bottom: 15px;
  }
  .post_category_text{
      padding:20px 0px;
      border-bottom: 1px solid #e7e7e7;
  }
  .post_category_list{}
  .post_category_list p {
      display: inline-block;
      padding-left: 26px;
      font-size: 13px;
      color: #000;
  }
  .post_tag_list {
      color: #fff!important;
  }
  .post_category_list p sup{}
  .full-mailbox {
    position: relative; 
  }
  
  .input-box-control{
      margin-top:10px;
  }
  .input-box-control textarea:focus {
      border: 1px solid #e7e7e7;
  }
  .input-box-control {
      position: relative;
      margin-bottom: 20px;
  }
    .input-box-control label {
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0.5); 
  }
  
  .input-full {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    transition-duration: 400ms; }
    .input-full:focus, .input-full:active {
      border-bottom-color: #03A9F5; }
  
  textarea, .todo-input {
    resize: none;
   
    }
    textarea::placeholder, .todo-input::placeholder {
      color: rgba(0, 0, 0, 0.3); }
    textarea::-ms-input-placeholder, .todo-input::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
  
  .submit {
    text-transform: uppercase;
    background: #03A9F5;
    color: #fff;
    border: 0;
    padding: 6px 15px;
     }
  
  .submit-content {
      position: relative;
      display: flex;
      justify-content: center;
  }
  .submit-content button.submit {
      margin-right: 20px;
  }
  .submit-attach {
      bottom: -37px;
      padding: 10px 0px;
      width: 100%;
      display: table;
      text-align: center;
      background-color: #DDF;
      position: absolute;
      left: 0;
  }
  .submit-attach li {
      display: inline-block;
      margin-right: 30px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.4); 
  }
  
  .none {
      display: none !important;
  }
  .full-mailbox .submit-content {
      margin-top: 71px;
  }
  
  .full-mailbox input[type="text"], .full-mailbox textarea{
      outline:none;
      border:1px solid #e7e7e7;
      padding: 10px;
      font-size: 14px;
       position: relative;
  }
   .full-mailbox input[type="text"]:focus, .full-mailbox textarea:focus{
       border:1px solid #e7e7e7;
  }
  button.submit, button.cancel,.search_category input[type="submit"] {
      padding: 10px 50px;
      background-color: #0099ff;
      color: #fff;
      border-radius: 4px;
      border:1px solid #0099ff;
      font-weight:500;
      cursor: pointer;
      font-size: 13px;
  }
  button.cancel {
      background-color:#FAFAFA;
       color: #000;
       border-color:#C7C7C7;
   }
  
  
  .community_category, .community_subcategory, .community_sub2category{
      list-style: none;
  }
  .community_category{
      width:250px;
  }
  .community_category li {
      padding: 13px 15px;
      background: #fff;
      box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
      margin-bottom: 10px;
      color: #000;
      font-size: 15px;
      cursor: pointer;
  }
  .community_category li i{
      color:#000;
  }
  .community_category li a {
      color: #000;
  }
  .community_category li a:hover{
      color: #000;
  }
  .community_category .ivu-dropdown {
      display: block!important;
  }
  .community_category .ivu-dropdown-menu {
      width: 200px;
  }
  .community_category .ivu-select-dropdown {
      width:250px!important;
      border-radius: 1px!important;
      margin: -14px 27px!important;
  }
  i.cross_icon{
      border-radius: 50%;
      font-size: 16px;
      color: #E74C3C!important;
      margin-right:3px;
  }
  .right_icon {
       float: right;
      font-size: 19px;
  }
  .add_more {
      padding: 6px 40px;
      margin-top: 15px;
  }
  .category_button_top{
      margin-bottom:20px;
  }
  .category_button {
      background-color: #0099ff;
      padding: 5px 22px;
      font-size: 14px;
  }
  
  
  /*========= common CSS ===========*/
  
  /*========= RESPONSIVE ===========*/
  @media (max-width: 575.98px) {
    .section-spacer {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    /* Intro sections */
    .intro {
      padding: 50px 0;
    }
    .intro .screen-v-100 {
      height: 100% !important;
    }
    .intro .l-v-center {
      position: unset;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset;
    }
  
    .callout-form .input-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .callout-form .input-group .form-control {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .carousel-light .carousel-indicators li {
      margin: 0 10px;
    }
    .carousel-light .carousel-indicators li .avatar {
      width: 40px;
      height: 40px;
    }
  }
  @media (max-width: 767.98px) {
    body.has-sticky-navbar {
      padding-top: 60px;
    }
    body.has-sticky-navbar .navbar {
      height: 60px;
    }
  
    .navbar .navbar-nav {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item .dropdown-item {
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      color: #33475c;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .navbar .navbar-nav .nav-item .nav-link:after, .navbar .navbar-nav .nav-item .dropdown-item:after {
      right: 15px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .navbar .navbar-nav .nav-item .dropdown-menu {
      padding-top: 10px;
      padding-bottom: 10px;
      position: unset;
    }
    .navbar .navbar-nav .nav-item .dropdown-item {
      color: #637282;
      font-size: 1.2rem;
    }
  
    .navbar-collapse {
      background: white;
      position: absolute;
      top: 60px;
      left: 0;
      min-height: 100vh;
      overflow: scroll;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
  
    .navbar-is-sticky .navbar-collapse {
      top: 50px;
    }
  
    .tabs-slider-indicators {
      overflow-x: scroll;
    }
  
    .tabs-slider-thumbs {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      min-width: 800px;
    }
    .tabs-slider-thumbs .owl-dot {
      text-align: center;
      padding: 5px 10px;
      margin-right: 2rem;
    }
    .tabs-slider-thumbs .owl-dot:first-of-type {
      margin-left: 2rem;
    }
    .tabs-slider-thumbs .owl-dot h3 {
      font-size: 18px;
    }
    .tabs-slider-thumbs .owl-dot p {
      display: none;
    }
  }
  @media (max-width: 991.98px) {
    body {
      font-size: 0.875rem !important;
    }
  }
  /*========= RESPONSIVE ===========*/
  .catagory_main{
  
  }
  .catagory_main_top{}
  .catagory_main_list{}
  .catagory_main_list li {
      display: inline-block;
      margin: 0 11px 10px 0;
  }
  .catagory_main_bottom li{
      text-align: left;
  }
  .catagory_main_bottom {
      padding: 29px 0 0;
      text-align: left;
  }
  .catagory_main_title {
      font-weight: bold;
      color: #000;
      margin: 0 0 4px;
  }
  .catagory_main_inputs {
      width: 319px;
  }
  
  .router-link-exact-active{
    color: #0099ff!important;
    border-right: 2px solid #0099ff !important;
    background-color: #eaeeea;
  }
  .space{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .image_thumb{
    width: 240px;
  }
  .demo-upload-list{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-right: 4px;
}
.demo-upload-list img{
    width: 100%;
    height: 100%;
}
.demo-upload-list-cover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover{
    display: block;
}
.demo-upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}
.table_image img{
  width: 40px;
}



body{
  background-color: #fbfcff;
}
.category_list li {
  padding: 15px 20px;
  background-color: #EBF1FE;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px -2px #74dabd8f;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1px;
}
.date_list li span {
  display: block;
  text-align: center;
}
.date_list {
  display: flex;
  padding: 10px 0px;
  border-top: 1px solid #dddddd75;
  border-bottom: 1px solid #dddddd75;
}
.date_list li {
  margin-right: 18px;
  padding: 11px 20px;
  font-weight: 600;
  display: inline-grid;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  color: #333333d9;
}
.time_slot_list li {
  display: inline-block;
  padding: 14px 10px;
  background-color: #EBF1FE;
  margin: 20px 20px 0px 0px;
  font-size: 15px;
  width: 22.8%;
  text-align: center;
  cursor: pointer;
  position: relative;
 /* box-shadow: 0px 3px 2px -2px rgba(149, 149, 247, 0.25);*/
   box-shadow: 0px 1px 4px -2px #74dabd8f;
   border-radius: 1px;
}
.date_list li:last-child i {
  font-size: 18px;
  color: #0000007a;
}
.date_list li:first-child{
 color: #59bfb8!important;
}
.category_list {
  padding-right: 20px;
}
.time_slot_list li:nth-child(1),.time_slot_list li:nth-child(2), .time_slot_list li:nth-child(3), .time_slot_list li:nth-child(4){
  margin-top: 0px;
}
.available_date_title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active_list {
  background-color: #63aca8!important;
  color: #fff;
}
.time_slot_list li:nth-child(4n) {
  margin-right: 0px;
}
.s_title {
  font-size: 19px;
}
.month {
  border: 1px solid #ddddddab;
  padding: 0px 10px;
  color: #696363;
}
._padd_tb80 {
  padding: 150px 0px;
}

.form-input {
  margin-bottom: 15px;
}
._dashboard_action_title {
  display: flex;
  justify-content: space-between;
}
._dashboard_actions {
  display: flex;
}

.ivu-date-picker {
  width: 100%;
}
.form-input .ivu-col-span-12 {
  display: block;
  width: 100%;
}
.booked_slot{
  background-color: #f8f9fa!important;
  color:#000;
}

.details_list li span {
  display: inline-flex;
}
.details_list li {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}
.deatils_title{
  font-weight: bold;
  margin-right:4px;
  text-transform: capitalize;
}
.deatils_top {
  font-size: 15px;
  margin-bottom: 13px;
}

._mar_t30{
  margin-top:30px;
}


/*--------------------------
 2. helper classes 
 ----------------------------*/
 html,
body {
	height:100%;
	width:100%;
	color:#373e58;
	line-height:30px;
	font-weight: 400;
	font-size:15px;
	font-family: 'Noto Serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
   color: #373e58;
   line-height:30px;
}
ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
ul li{
	font-size:14px;
}
 .mb-80{
	margin-bottom:80px;
}
.mt-20{
	margin-top:20px;
}
a.block-btn, .contact-form input[type="submit"], .blog-contact-area input[type="submit"],a.border-btn, 
.review-contact-area input[type="submit"]{
	background-color:#26baee;
	border:1px solid #26baee;
	color:#fff;
	padding:10px 40px;
	border-radius:50px;
	font-size:15px;
	position:relative;
	transition:.5s;
	display: inline-block;
}
a.block-btn:hover{
	background-color:#fff;
	color:#26baee;
}
a.border-btn{
	background-color:#fff;
	border:1px solid #373e58;
	color:#373e58;
	padding: 3px 25px;
}
a.border-btn:hover{
	background-color:#26baee;
	border-color:#26baee;
	color:#fff;
}
.section-title {
	margin-bottom:60px;
}
.section-title span{
    font-size:18px;
	color:#565e7c;
	font-size:16px;
	font-style:italic;
}
.section-title h2{
	color:#373e58;
	font-size:30px;
	line-height:37px;
	font-weight:400;
	margin-bottom:20px;
}
.toggle-menu{
	display:none;
}



/*--------------------------
 3. header area css 
 ----------------------------*/
#mainNav{
	background-color:transparent;
}
.logo {
	margin-top: 10px;
}
.nav-list li{
	display:inline-block;
}
.nav-list li a {
	display: inline-block;
	padding: 10px 18px;
	color:#546092;
	transition:.5s;
	position:relative;
}
.nav-list li a:hover{
	color:#26baee;
}
.nav-list li a:hover ul> li{
	display:block;
}
.nav-list li a:hover ul> li>a{
	display:block;
	color:red;
}
.main-menu li > a.current {
	color: #26baee;
}
.dropdown-menu {
	background-color: #26baee;
	display: block;
}
.dropdown-menu li a{
	color:#fff;
}





/*--------------------------
 4. header promo css 
 ----------------------------*/
.header-promo-area {
	background-image: url('../images/shutterstock-110.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	height:100%;
	position:relative;
}
.header-promo-area::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(to right,#FCFCFC, transparent);
	opacity: 0.9;
}
.header-promo{
	position: absolute;
	color: #fff;
	top: 50%;
	transform:translateY(-50%);
	z-index: 11;
}
.promo-content{

}
.promo-content p{
	margin:30px 0px;
}
.promo-content h1{
	font-size:72px;
	font-weight:500;
	line-height:90px;
}
.promo-content a{
	margin-top:10px;
}
.promo-links{
	background-color:#26baee;
	border:8px solid #fff;
	padding:30px;
	position:relative;
}
.promo-links h4{
	margin-bottom:15px;
	color:#fff;
}
.promo-links input[type="text"],.promo-links input[type="email"]{
	background-color:#fff;
	color:#9c9c9c;
	margin-bottom:15px;
	padding:6px 10px;
	border-radius:4px;
	font-size:15px;
	border:none;
	width:100%;
	font-family:Arial, FontAwesome;
}
.promo-links input[type="submit"] {
	background-color: #373e58;
	color: #fff;
	padding: 10px 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #fff;
	display: inline-block;
	bottom: -28px;
}



/*--------------------------
 5. about area css 
 ----------------------------*/
.about-area{
	padding:50px 0px;
}
.about-img1 {
	width: 300px;
	height: 300px;
	position:relative;
}
.about-img1 img , .about-img2 img{
	border-radius: 50%;
	height: 100%;
}
.about-img2 {
	position: absolute;
	left: -108px;
	top: -263px;
	width: 370px;
	height: 370px;
	border-radius: 50%;
}
.about-img1::after {
	position: absolute;
	content: "";
	width: 440px;
	height: 440px;
	border-radius: 50%;
	background-color: #38d39f;
	top: -27%;
	right: 160px;
	opacity: .7;
	z-index: 1;
}
.about-content{}
.about-content span{
	font-size:16px;
	line-height:75px;
	font-style:italic;
}
.about-content h1{
	font-size:28px;
	line-height:35px;
	margin-bottom:20px;
}
.about-content p{
	font-size:16px;
	line-height:30px;
	font-style:italic;
}
.about-img {
	box-shadow: 1px 1px 26px 5px #C6C6C6;
}
.about-img img{
	border:10px solid #fff;
}




/*--------------------------
 10. service area css 
 ----------------------------*/
.service-area{
	padding:50px 0px;
}
.services {
	display: block;
	height: 346px;
}
.services-bg {
	background-image: url(../images/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 166px;
}
.single-service {
	text-align: center;
	margin-top: 75px;
}
.single-service img{
	margin-bottom:50px;
}
.single-service h3{
	margin-bottom:20px;
}
.single-service p{}


/*--------------------------
 11. blog area css 
 ----------------------------*/
.blog-area{
	padding:50px 0px;
}
.blog{}
.single-blog{}
.blog-img{
	position:relative;
}
.blog-img img{
	min-height:240px;
}
.blog-img span{
	position:absolute;
	right:0;
	bottom:0;
	background-color:#fff;
	color:#373e58;
	font-size:14px;
	padding:10px 20px;
}
.blog-content {
  text-align: center;
  padding: 15px 20px;
}
.blog-content ul{
	padding:10px 0px;
}
.blog-content ul li:first-child{
	color:#26baee;
	margin-bottom:10px;	
}
.blog-content h4{
	font-size:18px;
	line-height:30px;
}


/*--------------------------
 12. contact area css 
 ----------------------------*/
.contact-area{
	padding:50px 0px;
}
.contact{}
.contact p{
	font-size:30px;
	color:#26baee;
}
.contact p span{
	margin-right:20px;
	color:#373e58;
	font-weight:blod;
}
.contact p span i{
	border: 1px dotted #26baee;
	border-radius: 50%;
	width: 45px;
	font-size: 19px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color:#26baee;
}

/*--------------------------
 13. footer area css 
 ----------------------------*/
.footer-area{
	background-image: url('../images/shutterstock-10.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
}
.footer-top{
	padding:30px 0px;
	background-color:#fff;
}
.footer-col{}
.footer-col h3{
	margin-bottom:20px;
	font-size:20px;
}
.footer-col p{}
.footer-social{}
.footer-social ul li,.newsletter ul li,.gallery-social ul li{
	display:inline-block;
}
.footer-social ul li a i,.newsletter ul li a i,.gallery-social ul li a i{
	color: #fff;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	margin-right: 4px;
}
.footer-social ul li:nth-child(1) a i, .newsletter ul li:nth-child(1) a i,.gallery-social ul li:nth-child(1) a i{
	background-color:#3b5998;
}
.footer-social ul li:nth-child(2) a i,.newsletter ul li:nth-child(2) a i,.gallery-social ul li:nth-child(2) a i{
	background-color:#0084b4;
}
.footer-social ul li:nth-child(3) a i,.newsletter ul li:nth-child(3) a i,.gallery-social ul li:nth-child(3) a i{
	background-color:#007bb6;
}
.footer-social ul li:nth-child(4) a i,.newsletter ul li:nth-child(4) a i,.gallery-social ul li:nth-child(4) a i{
	background-color:#4cb4f7;
}
.footer-social ul li:nth-child(5) a i,.newsletter ul li:nth-child(5) a i,.gallery-social ul li:nth-child(5) a i{
	background-color:#ff0000;
}
.footer-col ul li a{}
.footer-blog img{
	width:60px;
	height:60px;
}
.footer-col input{
	padding:8px 25px;
	border-radius:30px;
	width: 100%;
}
.footer-col input[type="email"]{
	margin-bottom:10px;
	border:1px solid #AAAABE;
}
.footer-col input[type="submit"]{
	border:1px solid #26baee;
	background-color:#26baee;
	color:#fff;
}
.footer-bottom{
	padding:10px 0px;
	position:relative;
}
.footer-bottom::before{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:#fff;
	opacity:.5;
}
.footer-navbar{
	z-index:1;
}
.footer-logo{}
.footer-logo img{
}
.footer-manu{}
.footer-manu li{
	display:inline-block;
}
.footer-manu li a {
	display: inline-block;
	padding: 6px 20px;
	font-size: 14px;
}
.footer-copyright{
	
}
.footer-copyright p {
	margin-top: 10px;
}
.footer-copyright p i{
	color:red;
}


/*--------------------------
 . tour page css
 ----------------------------*/
.tour-promo,.destination-promo,.gallery-promo,.blog-promo, .contact-promo,.faq-promo,.single-tour-promo{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.tour-promo {
	background-image: url(../images/shutterstock-661.jpg);
}
.tour-promo-content,.destination-promo-content,.gallery-promo-content,.blog-promo-content, .contact-promo-content,.faq-promo-content{
	padding:90px 0px;	
}
.tour-promo-content h1,.destination-promo-content h1,.gallery-promo-content h1,.blog-promo-content h1,.contact-promo-content h1,.faq-promo-content h1{
	font-size:42px;
	color:#fff;
	margin-bottom:20px;
}
.tour-promo-content p{
	color:#fff;
}
.tour-promo-content span{
	color: #fff;
	position: absolute;
	left: -23%;
	bottom: 30px;
}
.tour-promo-content span a{
	color: #fff;
}
.tour-content-area{
	padding:50px 0px;
}
.tour-sidebar{}
.filter-board {
	background-color: #26baee;
	padding: 10px;
	text-align: center;
}
.filter-board p {
	color: #fff;
	margin-bottom: 0px;
	font-weight: 500;
}
.destination,.departour,.categories p,.price-table p,.duration p{
	border:1px solid #26baee;
	padding: 10px;
	margin:30px 0px;
}
.destination P,.departour p{
	margin-bottom: 0px;
}
.departour{}
.categories{}
.categories ul,.duration ul {
	display: inline-block;
}
.categories ul:last-child, .duration ul:last-child {
	float:right;
}
.categories input {
	margin-right: 5px;
}
.categories p{}
.categories input{}
.price-table{}
.price-table p{}
.price-table ul li{
	display:inline-block;
}
.price-table ul li:last-child {
	float: right;
}
.price-table span {
	width: 90%;
	height: 2px;
	background-color:#d6d6d6;
	content: "";
	position: absolute;
	margin: 7px 0px;
}
.price-table span::before{
	background-color: #26baee;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	border-radius:50%;
	top:-3px;
	left:0;
}
.price-table span::after{
	background-color:#fff;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	border:2px solid #26baee;
	border-radius:50%;
	top:-3px;
	right:0;
}
.price-table a {
	margin-top: 24px;
	display: inline-block;
	background-color: #26baee;
	padding: 4px 30px;
	border-radius: 2px;
	color: #fff;
	margin-left: 24px;
}
.duration{}
.duration p{}
.duration {}
.duration input{
	margin-right: 5px;
}
.tour-main-content{}
.tour-header{
	background-color:#f4f4f4;
	padding:22px 20px;
	margin-bottom:30px;
}
.tour-list{}
.tour-list ul li{
	display:inline-block;
	margin-right:20px;
	font-size:14px;
}
.tour-list ul li i{
	margin-right:7px;
}
.sorting{
	font-size:14px;
}
.sorting span {
	margin-right: 6px;
}
.sorting select {
	padding: 8px 40px 8px 12px;
	border: 1px solid #ddd;
	border-radius: 40px;
	background-color:transparent;
}
.tour-header-right{}
.tour-header-right p{
	text-align:right;
	font-size:14px;
}
.tour-details{}
.single-tour-details{
	position:relative;
	margin-bottom:35px;
}
.tour-img{}
.tour-img img{
	min-height:220px;
}
.tour-img-cont span {
	right: 25px;
}
.tour-img-cont ul {
	bottom: 15px;
	left: 40px;
}
.tour-content{}
.tour-content h4{}
.tour-content ul{}
.tour-content li{
	display:inline-block;
	margin-right:15px;
	color:#888fac;
}
.tour-content li i{
	color:#888fac;
}
.tour-content p{
	margin:20px 0px;
	font-size:15px;
}
.tour-content a{}




/*--------------------------
 . blog page css
 ----------------------------*/
 .blog-promo {
  background-image: url(../images/blog/blog_bg.jpg);
}
.blog-promo-content p{
	color:#fff;
}
.single-blog {
  margin-bottom: 50px;
  border: 1px solid #e4e8ec;
}
.blog-img img{
   height:100%;	
	width:100%;	
}
.single-blog-content h4 {
	font-size: 24px;
}
.single-blog-content p{
	color:#565e7c;
	margin:20px  0px;
}
.single-blog-content ul{
	display:block;
}	
.single-blog-content ul li{
	display:inline-block;
	color:#565e7c;
}
.profile{
	margin:15px 0px;
}
.profile ul li{
	margin-right:10px;
	padding-right:24px;
	position:relative;
}
.profile ul li:nth-child(1){
	padding-right:10px;
}
.profile ul li:nth-child(2)::after, .profile ul li:nth-child(3)::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 2px;
	background-color: #777;
	top: 50%;
	right: -5px;
}
.profile li img{
	width:60px;
	height:60px;
	border-radius:50%;
}
.blog-social,.single-blog-social{
	padding:15px 0px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.blog-social span{
	display:inline-block;
	color:#565e7c;
}
.blog-social ul{
	float:right;
}
.blog-social ul li, .single-blog-social ul li{
	margin-right:8px;
}
.blog-social ul li a, .single-blog-social ul li a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #d2d2d2;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	color:#fff;
}
.search{
	margin-bottom:40px;
	display:block;
}
.search input,.newsletter input {
	padding: 6px 20px;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 30px;
	width: 100%;
}

.all-latest-post{
	margin-bottom:40px;
}
.all-latest-post h4{}
.latest-post{
	margin-bottom:15px;
	position:relative;
}
.latest-post img {
	width: 70px;
	position: absolute;
	top: 10px;
	left: 0;
	max-height: 52px;
}
.latest-post ul {
	display: inline-block;
	padding-left: 90px;
}
.latest-post ul li{
}
.tag{
	margin-bottom:40px;
}
.tag h4{}
.tag ul li{
	display: inline-block;
}
.tag ul li a {
	display: inline-block;
	padding: 6px 10px;
	border:1px solid #dcdcdc;
	margin: 0px 7px 7px 0px;
	border-radius: 1px;
}
.instragram{
	margin-bottom:40px;
}
.instragram ul li {
	display: inline-block;
	width: 75px;
	height: 70px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.instragram ul li:nth-child(3),.instragram ul li:nth-child(6){
	margin-right:0px;
}
.instragram img{
	width:100%;
	height:100%;
}
.add{
	text-align:center;
	padding:20px;
	background-color:#eeeeee;
}
.add h4{
	color:#ed5785;
}


/*--------------------------
 . Single blog page css
 ----------------------------*/
.single-blog-content h5{
	text-align:center;
	margin:30px  0px;
}
.single-blog-image{
	margin:30px 0px;
}
.single-blog-image ul li {
	width: 47.3%;
	display: inline-block;
	margin: 0px 30px 30px 0px;
}
.single-blog-image ul li:nth-child(2){
	margin-right:0px;
}
.single-blog-image ul li:last-child{
	width:100%;
}
.single-blog-image img{
	width:100%;
	min-height:290px;
	max-height:300px;
}
.single-blog-social{
	text-align:center;
	margin:30px 0px;
}
.author-area{
	padding:30px 0px;
	position:relative;
}
.author-content{
	margin-bottom:30px;
}
.author-content p{
	margin:15px 0px;
}
.author-content ul li {
	display: inline-block;
	margin-right: 12px;
}
.author-content ul li a{
	color:#969cb4;
	font-size:13px;
}
a.prev-btn{
	border: 1px solid #ddd;
	padding: 7px 40px;
	border-radius: 30px;
}
a.next-btn {
	position: absolute;
	right: 0;
	bottom: 30px;
	border: 1px solid #ddd;
	padding: 7px 40px;
	border-radius: 30px;
}
.comment-area{
	padding:30px 0px;
}
.comment-area h3{
	font-size:22px;
	margin-bottom:30px;
}
.comment{
	padding:25px;
	border:1px solid #DBE2ED;
	margin-bottom:35px;
}
.comment-img img {
  width: 55px;
  height: 56px;
}
.comment-content{
  padding-left:10px;
}
.comment-content h4 {
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: capitalize;
}
.comment-content span{
	color:#26baee;
}
.comment-content a{
	transition:.5s;
}
.comment-content a:hover{
	color:#26baee;
}
.blog-contact-area{}
.blog-contact-area h3, .review-contact-area h3{
	margin-bottom:30px;
	font-size:22px;
}
.blog-contact-area p, .review-contact-area p{
	margin-bottom:20px;
	color:#565e7c;
}
.blog-contact-area textarea,.review-contact-area textarea{
	width:100%;
	border:1px solid #ddd;
}
.blog-contact-area ul li, .review-contact-area ul li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom:20px;
}
.blog-contact-area ul li span, .blog-contact-area p span,.review-contact-area ul li span,.review-contact-area p span{
	color: red;
}
.blog-contact-area ul li:first-child, .review-contact-area ul li:first-child {
	display: block;
	margin-right:0px;
}
.blog-contact-area input[type="text"],.blog-contact-area input[type="email"]{
	width:249px;
	border:1px solid #ddd;
	padding:10px;
}
.blog-contact-area ul li:nth-child(4), .review-contact-area ul li:nth-child(3) {
	margin-right: 0px;
}
.blog-contact-area input[type="submit"]{
	margin-top:40px;
	padding:8px 70px;
	cursor:pointer;
}


.black-overlay{
  position: relative;
}
.black-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .6;
}
.nav_div{
  display: flex;
  justify-content: space-between;
}
.v-messages__message {
  color: red!important;
}
.v-input__icon.v-input__icon--prepend {
  margin-right: 10px!important;
}
.v-application--wrap {
  min-height: auto!important;
  padding: 20px 30px;
}
.ivu-btn-primary {
  color: #fff!important;
}
.blog-contact-area textarea {
  padding: 10px;
  margin-top: 10px;
}
button._mar_b30.create_btnn {
  padding: 8px 20px;
  font-size: 19px;
}
.single-blog-social i{
  font-size: 20px;
}
.total_like{
  padding-right: 5px;
}
.single-blog-social li{
  cursor:pointer;
}
.author_name{
  text-transform: capitalize;
}


/* chat=========================== */
.chat-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.chat-people-item {
  -webkit-box-flex: 0;
          flex: 0 0 35%;
  -ms-flex: 0 1 auto;
  max-width: 35%;
  width: 35%;
}

.chat-person {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-person-img {
  -webkit-box-flex: 0;
          flex: 0 0 40px;
  -ms-flex: 0 1 auto;
  max-width: 40px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  position: relative;
}

.chat-person-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 449px) {
  .chat-person-img {
    -webkit-box-flex: 0;
            flex: 0 0 30px;
    -ms-flex: 0 1 auto;
    max-width: 30px;
    width: 30px;
    height: 30px;
  }
}

.chat-verify {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  right: -3px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f6f8f9;
  width: 16px;
  height: 16px;
  padding-top: 2px;
}

.chat-search {
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
}

.chat-search input::-webkit-input-placeholder {
  color: #cfd9e0;
}

.chat-search input:-ms-input-placeholder {
  color: #cfd9e0;
}

.chat-search input::-ms-input-placeholder {
  color: #cfd9e0;
}

.chat-search input::placeholder {
  color: #cfd9e0;
}

.chat-all-box {
  max-height: 635px;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.chat-all-box::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
}

.chat-all-box::-webkit-scrollbar {
  width: 4px !important;
  background-color: transparent;
}

.chat-all-box::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.chat-all-box.chat-list-scroll {
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.chat-all-box.chat-list-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.chat-all-box.chat-list-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.chat-all-box.chat-list-scroll::-webkit-scrollbar-thumb {
  background-color: #007de3;
  border-radius: 10px;
}

.chat-all-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 25px 35px;
  border-bottom: 1px solid #dce4ec;
}

@media only screen and (max-width: 449px) {
  .chat-all-item {
    padding: 25px 20px;
  }
}

.chat-all-item:hover {
  background-color: #e9ecf0;
}

.chat-all-item.active {
  background-color: #e9ecf0;
}

.chat-person-info {
  padding-right: 20px;
  margin-right: auto;

}

.chat-person-info h3 {
  font-size: 18px;
  color: #546a79;
  font-weight: 500;
  margin-bottom: 4px;
}

.chat-person-info p {
  font-size: 15px;
  color: #7f96a3;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;

}

@media only screen and (max-width: 449px) {
  .chat-person-info h3 {
    font-size: 16px;
  }
  .chat-person-info p {
    font-size: 13px;
  }
}

.chat-person-avail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat-person-avail p {
  font-size: 13px;
  color: #7f96a3;
  white-space: nowrap;
}

@media only screen and (max-width: 449px) {
  .chat-person-avail p {
    font-size: 11px;
  }
}

.chat-person-avail span {
  display: inline-block;
  margin-top: 4px;
}

.chat-details-item {
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.chat-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.chat-user-info {
  padding-right: 20px;
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
}

.chat-user-info h3 {
  font-size: 17px;
  color: #546a79;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 0;
}

.chat-user-info p {
  font-size: 14px;
}

@media only screen and (max-width: 449px) {
  .chat-user-info h3 {
    font-size: 15px;
  }
  .chat-user-info p {
    font-size: 12px;
  }
}

.chat-inbox-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.chat-msg-img {
  -webkit-box-flex: 0;
          flex: 0 0 40px;
  -ms-flex: 0 1 auto;
  max-width: 40px;
  width: 40px;
  height: 40px;
  position: relative;
}

.chat-msg-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 449px) {
  .chat-msg-img {
    -webkit-box-flex: 0;
            flex: 0 0 30px;
    -ms-flex: 0 1 auto;
    max-width: 30px;
    width: 30px;
    height: 30px;
  }
}

.chat-justify-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat-justify-left .chat-msg-time {
  text-align: left;
}

.chat-justify-left .chat-msg-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.chat-justify-left .chat-msg-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.chat-justify-left .chat-msg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-justify-left .chat-msg-item {
  padding: 15px 12px;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 4px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: #ebeef1;
  color: #546a79;
}

.chat-justify-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-justify-right .chat-msg-time {
  text-align: right;
}

.chat-justify-right .chat-msg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat-justify-right .chat-msg-item {
  padding: 15px 12px;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 4px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: #718da4;
  color: #fefefe;
}

.chat-msg-item {
  padding: 15px 12px;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 4px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.chat-owner-msg .chat-msg-item {
  font-size: 15px;
}

@media only screen and (max-width: 449px) {
  .chat-owner-msg .chat-msg-item {
    font-size: 13px;
  }
}

.chat-msg-time p {
  color: #7f96a3;
  font-size: 14px;
}

@media only screen and (max-width: 449px) {
  .chat-msg-time p {
    font-size: 12px;
  }
}

.chat-msg-container {
  margin-left: 15px;
  margin-right: 15px;
}

.chat-message-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0 -5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 15px;
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.chat-message-file::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.chat-message-file::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  height: 6px;
}

.chat-message-file::-webkit-scrollbar-thumb {
  background-color: #007de3;
  border-radius: 10px;
}

.chat-file-remove {
  position: absolute;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
  right: 4px;
  top: 4px;
  background-color: #cfd9e0;
  color: #546a79;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.chat-message-file-item {
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.chat-message-file-item:hover .chat-file-remove {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.chat-message-file-doc {
  border: 1px solid #dce4ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 0;
          flex: 0 0 135px;
  -ms-flex: 0 1 auto;
  max-width: 135px;
  width: 135px;
}

.chat-message-doc-logo {
  padding: 5px 9px;
  background-color: #007de3;
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
}

.chat-message-doc-text {
  padding: 5px 9px;
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
}

.chat-message-doc-text h4 {
  font-size: 14px;
  color: #546a79;
  margin-bottom: 3px;
}

.chat-message-doc-text p {
  color: #7f96a3;
  font-size: 13px;
}

.chat-message-file-img {
  -webkit-box-flex: 0;
          flex: 0 0 80px;
  -ms-flex: 0 1 auto;
  max-width: 80px;
  width: 80px;
  height: 80px;
}

.chat-message-file-img img {
  width: 100%;
  height: 100%;
}

.chat-message-sender-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 45px;
}

.chat-message-attach {
  -webkit-box-flex: 0;
          flex: 0 0 40px;
  -ms-flex: 0 1 auto;
  max-width: 40px;
  width: 40px;
  margin-right: 5px;
}

.chat-message-attach button {
  border: 0;
  background: transparent;
  outline: 0;
  font-size: 20px;
  color: #0091ea;
}

.chat-message-attach input[type=file] {
  display: none;
}

.chat-message-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f9;
  border: 1px solid #dae4f5;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
}

.chat-message-input textarea {
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex: 1;
  max-width: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  resize: none;
  padding: 10px;
  height: 100%;
}

.chat-message-input button {
  border: 0;
  background: transparent;
  outline: 0;
  font-size: 20px;
  color: #0091ea;
}

.chat-inbox {
  max-height: 350px;
  overflow: auto;
  padding-right: 15px;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 15px;
    border-radius: 5px;
}

.chat-inbox::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
}

.chat-inbox::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent;
}

.chat-inbox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.chat-inbox.chat-inbox-scroll {
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.chat-inbox.chat-inbox-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.chat-inbox.chat-inbox-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.chat-inbox.chat-inbox-scroll::-webkit-scrollbar-thumb {
  background-color: #007de3;
  border-radius: 10px;
}
/* chat end */

/* chat list */
.user_list_area{
  background: #fff;
  padding: 20px;
}
.user_list{
  margin-top:15px;
}
.user_list li {
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
}
.chat-user-info {
  padding: 10px;
  background-color: #718da4;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 13px;
}

.chat-user-info h3 {
  color: #fff!important;
}